<!--Заголовок-->
<div class="p-5 mt-5">
    <h1>Расходы</h1>
</div>

<!--Категории расходов-->
<div class="pl-5 pr-5 d-flex row row-cols-lg-3 row-cols-md-2 g-4">
    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Еда</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Жилье</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Здоровье</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Кафе</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Авто</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Одежда</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Развлечения</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Счета</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline d-flex flex-column justify-content-center pt-2 pl-3 pb-3"
             style=" border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <div class="">
                <span style="font-size: 28px; font-weight: 500; color: #052C65; line-height: 47px;">Спорт</span>
            </div>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2" style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <!--    Пустая-->
        <div class=" card card-outline d-flex flex-column justify-content-center align-items-center  pt-2 pl-3 pb-3"
             style=" height: 116px; border-radius: 12px; box-shadow: none; border: 1px solid #ccc;">
            <a href="/expense-category-creation" class="btn" id="add-category">
                <i class="fas fa-plus text-secondary"></i>
            </a>
        </div>
    </div>
</div>

<!-- модальное окно -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content elevation-0 border-0 pt-2 pb-2" style="border-radius: 12px;">
            <div class="modal-body text-center py-4 px-3" style="color: #290661; font-weight: 500; font-size: 20px;">
                Вы действительно хотите удалить категорию?
            </div>
            <div class="modal-footer d-flex justify-content-center border-top-0 pt-0 pb-3 px-3">
                <button type="button" class="btn btn-success" style="border-radius: 5px;">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="border-radius: 5px;">Не удалять</button>
            </div>
        </div>
    </div>
</div>
