<!--Заголовок-->
<div class="p-5 mt-5">
    <h1">Создание категории расходов</h1>
</div>

<!--Форма-->
<div class="w-100 pl-5" style="max-width: 397px;">
    <form>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Название...">
        </div>

        <!-- Button -->
        <div class="input-group mb-3 mt-3">
            <div class="">
                <button type="button" class="btn btn-success btn-block" style="border-radius: 5px;">Создать</button>
            </div>
            <div class="">
                <a href="/expense-category" type="button" class="btn btn-danger btn-block ml-2" style="border-radius: 5px;">Отмена</a>
            </div>
        </div>
    </form>
</div>