<!--Заголовок-->
<div class="p-5 mt-5">
    <h1>Расходы</h1>
</div>

<!--Категории расходов-->
<div class="pl-5 pr-5 d-flex row row-cols-lg-3 row-cols-md-2 g-4">
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Еда</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Жилье</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Здоровье</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Кафе</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Авто</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Одежда</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Развлечения</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Счета</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12">
            <h3>Спорт</h3>
            <div class="mt-1">
                <a href="/expense-category-edit" class="btn btn-primary btn-sm p-2"
                   style="border-radius: 5px; width: 135px;">Редактировать</a>
                <button type="button" class="delete btn btn-danger btn-sm ml-2 p-2"
                        style="border-radius: 5px; width: 88px;" data-toggle="modal" data-target="#myModal">Удалить
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <!--    Пустая-->
        <div class="card card-outline shadow-none border border-gray-300 d-flex flex-column justify-content-center p-3 rounded-12"
             style="height: 116px;">
            <a href="/expense-category-creation" class="btn" id="add-category">
                <i class="fas fa-plus text-secondary"></i>
            </a>
        </div>
    </div>
</div>

<!-- модальное окно -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content elevation-0 border-0 pt-2 pb-2" style="border-radius: 12px;">
            <h5 class="modal-body text-center py-4 px-3">
                Вы действительно хотите удалить категорию?
            </h5>
            <div class="modal-footer d-flex justify-content-center border-top-0 pt-0 pb-3 px-3">
                <button type="button" class="btn btn-custom btn-success mr-2">Да, удалить</button>
                <button type="button" class="btn btn-custom btn-danger" data-dismiss="modal">Не
                    удалять
                </button>
            </div>
        </div>
    </div>
</div>
