<!--Заголовок-->
<div class="p-5 mt-5">
    <h1>Редактирование дохода/расхода</h1>
</div>

<!--Форма-->
<div class="w-25 pl-5">
    <form>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Тип...Тест">
        </div>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Категория...Тест" >
        </div>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Сумма в $...Тест" >
        </div>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Дата...Тест" >
        </div>
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Комментарий..." >
        </div>

        <!-- Button -->
        <div class="input-group mb-3 mt-3">
            <div class="">
                <button type="button" class="btn btn-custom btn-success btn-block">Сохранить</button>
            </div>
            <div class="">
                <a href="/income-and-expense" class="btn btn-custom btn-danger btn-block ml-2">Отмена</a>
            </div>
        </div>
    </form>
</div>